<div class="container">
  <h1>✏️ Pippyへのお手紙を書くにゃ</h1>

  <%= form_with model: @letter, local: true do |f| %>
    <div class="field" style="margin-top: 20px;">
     <%= f.label :image, "お気に入りの写真を選ぶにゃ📸" %><br />
     <%= f.file_field :image %>
    </div>

  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, placeholder: "お手紙のタイトルをここに書くにゃ！", style: "width: 100%; border: 2px solid #ffb6c1; border-radius: 10px; padding: 5px;" %>
  </div>

    <div class="field">
      <%= f.label :content, "お手紙の内容" %><br />
      <%= f.text_area :content, placeholder: "ここにメッセージを書くにゃ！", rows: 5 %>
    </div>

    <div class="actions">
      <%= f.submit "Pippyに届ける！💌", class: "btn" %>
    </div>
  <% end %>

  <%= link_to "一覧に戻る🐾", letters_path %>
</div>
