<!DOCTYPE html>
<html>
  <head>
    <title>PippyNew3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
  <header class="main-header">
    <div class="header-logo">Pippyのお城 🐾</div>
    <nav class="header-nav">
      <%= link_to "ホーム", root_path %>
      <%= link_to "Pippyについて", about_path %>
    </nav>
  </header>
  <%= yield %>
</body>
  